# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
terraform.tfvars
terraform.tfvars.json

# Crash logs
crash.log
crash.*.log

# Terraform plan files
*.tfplan
*.plan

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
*.tfvars.json
infra/terraform/envs/bootstrap/terraform.tfvars
.terraform.lock.hcl
infra/terraform/envs/foundation/destroy_foundation.tfplan
